//site structure variables
$site-width: 1280px;
$hero-height: 500px;
$nav-width: 980px;
$nav-height: 92px;

//site colors
$site-white: #fff;
$site-blue: #79ADDC;
$site-black: #000;

//tour banner
$tour-banner-height: 304px;
$tour-banner-width: 236px;